// 头部样式
#header{
  padding: 25px 60px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
@media (max-width:768px){
  #header{
    display: none;
  }
}
#logo{
 .fz(2rem);
 color:@color;
 font-weight: 200;
}
#logo img{
  width: 40px;
  height: 40px; 
  .mr(6px);
  vertical-align: middle;
}
#nav{
  float: right;
  .mr(60px);
}
#nav ul>li{
  display: inline-block;
  .mr(8px);
}
#nav input{
  padding: 10px 15px;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  box-shadow: none;
  border: 1px solid #e3e3e3;
  outline: none;
}
#nav input:focus{
  border: 1px solid @light;
}
#nav button[type=submit]{
  position: relative;
  left: -50px;
  border: none;
  .fz(1.4rem);
}
#nav a{
  display: inline-block;
  padding-bottom: 5px;
  .mr(20px);
}
#nav a:hover,#nav a.current{
  border-bottom: 3px solid @light;
}
#mobile-hd{
  display: none; 
}
@media (max-width:768px){
  #mobile-hd{
    display: block;
    position: relative;
    padding: 10px;
  }
  #mobile-menu{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    background-image: url(../../assets/images/menu.png);
    background-size: 24px;
  }
  #mobile-hd img{
    width: 24px;
    height: 24px;
    display:  block;
    margin: 0 auto;
  }
  #sidebar{
    width: 70%;
    height: 100%;
    padding: 30px 20px 0 26px;
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 9999;
    background-color: @color;
    transform: translate(-100%,0);
    transition: transform 0.5s ;
  }
  #sidebar.open{
    transform: translate(0,0);
  } 
}

#backtotop{
  position: fixed;
  top: 50%;
  right: 0;
  font-size: 30px;
  text-align: center;
  width: 30px;
  background-color: @color;
  color: #fff;
}

@media (max-width:768px){
  .modal-dialog{
    width: 80%;
    margin: 0;
  }
}
#backtotop i{
  .mr(0);
}
#backtotop a{
  color: #fff;
}
/*login reg*/
#loginPanel{
  width: 500px;
  height: 400px;
  position: fixed; 
  top: 50%;
  left: 50%;
  .mt(-200px);
  .ml(-300px);
  z-index: 99999;
  background-color: @color;
  border-radius: 10px;
  font-size: 16px;
  overflow: hidden;
}
#loginPanel header{
  height: 60px;
  line-height: 60px;
}
#loginPanel .close{
  position: absolute;
  top: 2px;
  right: 2px;
  color: #fff;
  opacity: 1;
}
#loginPanel header>a{
  display: inline-block;
  width: 50%;
  color: #fff;
  text-decoration: none;
}
#loginPanel>div>div{
  width: 50%;
  .ib;
  padding:20px 20px;
}
#loginPanel .on{
  .ml(-500px);
}
#loginPanel form{
  width: 90%;
  margin: 0 auto;
}
#loginPanel .log{
  border-top-left-radius: 10px;
}
#loginPanel .reg{
  border-top-right-radius: 10px;
}
#loginPanel .active{
  background-color: darkred;
}
#loginPanel>div{
  width: 1000px;
  height: 340px;
}
#main{
  padding: 15px;
}
/*dialog*/
.modal-dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)!important;
}
/*navbar*/
.navbar-brand img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}