.article{
  border-bottom: 1px solid @theme-color;
  a{
    color: @base-color;
  }
  .button-success a{
    color: @state-success-text;
  }
  header{
    font-weight: 600;
    margin: 10px 0;
    @media(max-width:768px){
      text-align: center;
    }
    a{
      font-size: 1.8rem;
    }
  }
  >div>p>span{
    vertical-align: middle;
    line-height: 38px;
  }
}
