<!DOCTYPE html>
<!--
  瞅啥么瞅
-->
<html>

<head>
  <title>
    后台管理
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
  <link rel="stylesheet" href="/dest/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="/dest/stylesheets/all.min.css" />
</head>

<body id="app">
  <div id="mask" v-show="mask" v-on:click="closeMask"></div>
  <header id="header">
    <a href="/" id="logo">
      <img src="/assets/images/logo.png" alt="">
      <span>记笔</span>
    </a>
  </header>
  <header id="mobile-hd">
    <a id="mobile-menu" v-on:click.stop="this.state.sidebar=!this.state.sidebar"><i class="icon-reorder"></i></a>
    <img src="/assets/images/logo.png" alt="">
  </header>
  <div id="backtotop" v-show="state.scrollTop">
    <a href="#app"><i class=" icon-arrow-up"></i></a>
  </div>
  <div class="container content">
    <% if(success){ %>
    <p class="alert-success">
      <%= success %>
    </p>
    <% } %>
    <% if(error){ %>
    <p class="alert-danger">
      <%= error %>
    </p>
    <% } %>
    <div class="row">
      <div class="tabel">
        <a class="inline-block pull-left">用户管理</a>
        <a class="inline-block pull-left">文章管理</a>
      </div>
    </div>
  </div>
  <footer class="container">
    <div class="row">
      <h4 class="alert-info">网站基于NodeJS开发 ©2016</h4>
      <h4 class="alert-warning">项目源码托管于<a href="https://github.com/MadSummer/NodeBlog" target="_blank">Github</a></h4>
    </div>
  </footer>
  <script src="/dest/javascripts/all.min.js"></script>
</body>

</html>