<footer class="container">
  <div class="row">
    <h4 class="alert-info">网站基于NodeJS开发 ©2016</h4>
    <h4 class="alert-warning">项目源码托管于<a href="https://github.com/MadSummer/NodeBlog" target="_blank">Github</a>，需要请自行下载，欢迎start，fork</h4>
  </div>
</footer>
<script src="/dest/javascripts/all.min.js"></script>
</body>

</html>