<footer class="container">
  <div class="row">
    <h5 class="alert alert-info">网站基于NodeJS开发 版权所有 © 2012-2016</h5>
  </div>
</footer>
<script src="http://apps.bdimg.com/libs/fastclick/1.0.0/fastclick.min.js"></script>
<script src="http://apps.bdimg.com/libs/vue/1.0.14/vue.js"></script>
<script src="/dest/javascripts/all.min.js"></script>
</body>

</html>