<!DOCTYPE html>
<!--
  瞅啥么瞅
-->
<html >

<head>
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
  <link rel="stylesheet" href="/dest/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="/dest/stylesheets/all.min.css" />
  <link rel="stylesheet" href="/dest/stylesheets/wangEditor.min.css">
</head>

<body id="app" v-on:click="closeSidebar">
  <div id="mask" v-show="mask"></div>
  <header id="header">
    <a href="/" id="logo">
      <img src="http://vuejs.org.cn/images/logo.png" alt="">
      <span>记笔</span>
    </a>
    <nav id="nav">
      <ul>
        <li class="search">
          <form action="/search">
            <input type="search" placeholder="请输入..." name="kw">
            <input type="hidden" placeholder="请输入..." name="page" value=1>
            <button type="submit" class="button searchBtn" v-on:click.prevent="search">
              <i class="icon-search"></i>
            </button>
          </form>
        </li>
        <li>
          <a href="/" class="current">首页</a>
        </li>
        <li>
          <a href="/tag/node">Node</a>
        </li>
        <li>
          <a href="/tage/js">JS</a>
        </li>
        <li>
          <a href="/tag/css">CSS</a>
        </li>
      </ul>
    </nav>
  </header>
  <header id="mobile-hd">
    <a id="mobile-menu" v-on:click.stop="toggleSidebar"><i class="icon-reorder"></i></a>
    <a href="/"><img src="http://vuejs.org.cn/images/logo.png" alt=""></a>
  </header>
  <div id="backtotop" v-show="scrollTop">
    <a href="#app"><i class=" icon-arrow-up"></i></a>
  </div>
  <div class="container content">
    <% if(success){ %>
      <p class="alert-success">
        <%= success %>
      </p>
    <% } %>
    <% if(error){ %>
      <p class="alert-danger">
        <%= error %>
      </p>
    <% } %>
    <div class="row">
      <div class="grid-1 side">
        <aside id="sidebar" v-bind:class="{'open':sidebar}">
          <ul class="list">
            <li class="search">
              <form action="/search">
                <input type="search" placeholder="请输入..." name="kw">
                <input type="hidden" placeholder="请输入..." name="page" value=1>
                <button type="submit" class="button searchBtn" v-on:click.prevent="search">
                  <i class="icon-search"></i>
                </button>
              </form>
            </li>
            <li>
              <a href="/" class="current">首页</a>
            </li>
            <li>
              <a href="/">Node</a>
            </li>
            <li>
              <a href="/ ">JS</a>
            </li>
            <li>
              <a href="/">CSS</a>
            </li>
            </ul>
        </aside>
      </div>
      <div class="grid-4">