<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/dest/stylesheets/font-awesome.min.css">
  <link rel='stylesheet' href='/dest/stylesheets/all.min.css' />
</head>

<body id="app">
  <header id="header">
    <a href="/" id="logo">
      <img src="http://vuejs.org.cn/images/logo.png" alt="">
      <span>记笔</span>
    </a>
    <nav id="nav">
      <ul>
        <li>
          <form action="/search">
            <input type="search" placeholder="请输入..." name="kw">
            <input type="hidden" placeholder="请输入..." name="page" value=1>
            <button type="submit">
              <i class="icon-search"></i>
            </button>
          </form>
        </li>
        <li>
          <a href="" class="current">首页</a>
        </li>
        <li>
          <a href="">Node</a>
        </li>
        <li>
          <a href="">JS</a>
        </li>
        <li>
          <a href="">CSS</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="modal fade" id="dialog" data-backdrop="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">操作提示</h4>
        </div>
        <div class="modal-body">
          <p>确认删除吗？</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button id="confirm" type="button" class="btn btn-danger" v-on:click="sendAjax">确认</button>
        </div>
      </div>
    </div>
  </div>
  <div id="backtotop" v-show="scrollTop">
    <a href="#app"><i class="glyphicon glyphicon-chevron-up"></i></a>
  </div>
  <div class="container wp">
    <% if(success){ %>
      <p class="alert alert-success">
        <%= success %>
      </p>
      <% } %>
        <% if(error){ %>
          <p class="alert alert-danger">
            <%= error %>
          </p>
          <% } %>
            <div class="row">
              <div class="col-md-12" id="main">