<% include header %>
  <article class="article row" v-for="article in articles" data-pid="{{article.pid}}">
    <a href={{article.articleLink}} target="_blank" class="hidden-xs grid-2">
      <img v-bind:src="article.cover">
    </a>
    <div class="grid-4">
      <header>
        <a href={{article.articleLink}} target="_blank" v-text="article.title"></a>
      </header>
      <div class="summary" v-text="article.summary"></div>
        <p class="info">
          <span>
            <a href={{article.userLink}} target="_blank">
              <i class="icon-user"></i>{{article.name}}
            </a>
          </span>
          <span>
            <i class="icon-time"></i>{{article.date}}
          </span>
          <span>
            <i class="icon-eye-open"></i>{{article.views}}
          </span>
          <span>
            <i class="icon-comment"></i>{{article.comment}}
            </span>
          <span>
             <i class="icon-tags"></i>
            <a href="/getten?action=tag&page=1&tag={{tag}}" v-text="tag+'  '" v-for="tag in article.tags"></a>
          </span>
          <button class="button-success"><a href="{{article.articleLink}}">阅读全文</a></button>
        </p>
      </div>
  </article>
  <button type="button" v-on:click="load" class="button-success block"><i class="icon-spinner" v-bind:class="{'icon-spin':state.loading}"></i>点击加载更多</button>
  <p class="text-center" v-show="state.none">没有更多了</p>
  </div>
  </div>
  </div>
  <% include footer %>