<% include header %>
  <% if(typeof tag === 'defined' ){ %>
  <p class="text-center alert alert-info">搜索<span class="clor-danger"><%= kw %></span>的结果</p>
  <% } %>
  <% if(typeof kw === 'defined'){ %>
  <h3 class="text-center alert alert-info"><span class="clor-danger"><%= kw %></span>的相关文章</h3>
  <% } %>
  <ul class="list-group">
    <% article.forEach(function(article){ %>
      <li>
        <a href="/article/<%= article._id %>"><%= article.title %></a>
      </li>
      <% }) %>
  </ul>
  <ul class="list-group page">
    <li><a href="">首页</a></li>
    <li><a href="/getten?page={{page}}&">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li><a href="">5</a></li>
    <li><a href="">尾页</a></li>
  </ul>
  </div>
  </div>
  </div>
  <% include footer %>