<% include header %>
<div class="form-group">
  <label for="title">标题</label>
  <input type="text" name="title" class="form-control " placeholder="请输入标题">
</div>
<label for="content">内容</label>
<textarea id="editor" name="content" class="textarea" placeholder="请输入内容"></textarea>
<button class="btn btn-block btn-success postBtn">发布</button>
</div>
</div>
</div>
<% include footer %>