<% include header %>
  <p class="text-center alert alert-info"><span class="clor-danger"><%= tag %></span>的所有文章</p>
  <ul class="list-group">
    <% article.forEach(function(article){ %>
      <li class="list-group-item">
        <a href="/article/<%= article._id %>"><%= article.title %></a>
      </li>
      <% }) %>
  </ul>
  </div>
  </div>
  </div>
  <% include footer %>